


<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Here are the shops we dealing with</h4>
        </div>
    </div>
</div>

{{!-- <div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">here is all our current clients</div>
        <div class="col-4"></div>
    </div>

</div> --}}
    <div class="spacer"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <table class="table table-borderless table-light">
                <tr>
                    <th>AVOCADO SHOPS</th>
                </tr>
                
            {{#each shops}}
            <tr>
            <td> {{name}}</td>
            </tr>
            {{/each}}
            </table>
        </div>
        <div class="col-4"></div>
    </div>
</div>
