<h4>Add A new Shop!</h4>


<form action="/newShop" method="post">
<input type="text" name="newShopName" placeholder="Add Your new Shop here.">
<input type="submit" value="add Shop" class="btn btn-primary">
</form>